.footer {
  padding-bottom: 60px;
  background-color: #0E1014;
  color: #E4E5EA;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  &__text {
    line-height: 15px;
  }

  &__link-text {
    line-height: 15px;
    color: #E4E5EA;
    text-decoration-line: underline;
  }

    @media (min-width: 1174px) {
      &__text, &__subtext {
      text-align: right;
    }

    &__subtext {
      display: flex;
      justify-content: end;
    }
  }
}

@media (min-width: 1174px) {
  .footer {
    padding-bottom: 20px;
  }
}
