.info {
  margin-top: -6px;
  padding-top: 82px;
  padding-bottom: 5px;
  background-color: #0E1014;
  color: #E4E5EA;

  &__title {
    text-transform: uppercase;
    color: #656566;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  &__list, &__adress {
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  &__company-text, &__menu-text, &__contacts-text {
    margin-bottom: 21px;
  }

  &__company-item, &__menu-item {
    margin-bottom: 10px;
  }

  &__menu-item {
    margin-bottom: 10px;
}

  &__company-link, &__menu-link {
    text-decoration: none;
    color: #E4E5EA;
  }

  &__menu-group {
    display: flex;
    margin-bottom: 19px;
  }

  &__contacts {
    margin-bottom: 50px;
  }
  &__company {
    margin-bottom: 30px;
  }

  &__contacts-tel {
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E4E5EA;
  }

  &__contacts-icons {
    display: flex;
    padding-left: 7px;
    margin-bottom: 10px;
    color: #E4E5EA;
  }

  &__contacts-icons a {
    display: block;
    width: 22px;
    height: 22px;
  }

  &__contacts-icon-telegram, &__contacts-icon-tel {
    margin-right: 10px;
  } 

  &__contacts-icons img {
    width: 20px;
    height: 18px;
  }

  @media (min-width: 1174px) {
    &__group {
      display: flex;
    }

    &__company {
      margin-right: 92px;
    }

    &__title {
      font-size: 14px;
    }
    &__menu {
      margin-right: 163px;
    }

    &__contacts {
      margin-left: auto;
      text-align: right;
    }

    &__contacts-icons {
      justify-content: end;
    }

    &__list, &__adress {
      font-size: 16px;
      line-height: 19px;
    }

    &__company-text, &__menu-text, &__contacts-text {
      margin-bottom: 20px;
    }

    &__contacts-tel, &__contacts-icons {
      margin-bottom: 21px;
    }
  }
}

@media (min-width: 1174px) {
  .info {
    background-color: transparent;
    color: #E4E5EA;
  }
}
