.info {
  margin-top: -6px;
  padding-top: 82px;
  padding-bottom: 5px;
  background-color: #0E1014;
  color: #E4E5EA;
}
.info__title {
  text-transform: uppercase;
  color: #656566;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
.info__list, .info__adress {
  list-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.info__company-text, .info__menu-text, .info__contacts-text {
  margin-bottom: 21px;
}
.info__company-item, .info__menu-item {
  margin-bottom: 10px;
}
.info__menu-item {
  margin-bottom: 10px;
}
.info__company-link, .info__menu-link {
  text-decoration: none;
  color: #E4E5EA;
}
.info__menu-group {
  display: flex;
  margin-bottom: 19px;
}
.info__company {
  margin-bottom: 30px;
}
.info__contacts-tel {
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
}
.info__contacts-icons {
  display: flex;
  padding-left: 7px;
  margin-bottom: 10px;
  color: #E4E5EA;
}
.info__contacts-icons a {
  display: block;
  width: 22px;
  height: 22px;
}
.info__contacts-icon-telegram, .info__contacts-icon-tel {
  margin-right: 10px;
}
.info__contacts-icons img {
  width: 20px;
  height: 18px;
}
@media (min-width: 1174px) {
  .info__group {
    display: flex;
  }
  .info__company {
    margin-right: 92px;
  }
  .info__title {
    font-size: 14px;
  }
  .info__menu {
    margin-right: 163px;
  }
  .info__contacts {
    margin-left: auto;
    text-align: right;
  }
  .info__contacts-icons {
    justify-content: end;
  }
  .info__list, .info__adress {
    font-size: 16px;
    line-height: 19px;
  }
  .info__company-text, .info__menu-text, .info__contacts-text {
    margin-bottom: 20px;
  }
  .info__contacts-tel, .info__contacts-icons {
    margin-bottom: 21px;
  }
}

@media (min-width: 1174px) {
  .info {
    background-color: transparent;
    color: #E4E5EA;
  }
}