* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 13px;
  background-color: #0E1014;
}
.header__list {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.header__item {
  margin-right: 12px;
}
.header__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 1174px) {
  .header__link {
    text-decoration: none;
    text-transform: none;
    font-size: 16px;
  }
  .header__contacts {
    display: flex;
    align-items: center;
  }
  .header__contacts-tel {
    display: block;
    margin-right: 47px;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E4E5EA;
  }
  .header__group {
    display: flex;
    align-items: center;
  }
  .header__logo-img--smallimg {
    width: 35px;
    height: 24px;
    margin-right: 8px;
  }
  .header__logo-img--bigimg {
    width: 97px;
    height: 15px;
  }
  .header__logo {
    display: flex;
    align-items: center;
    margin-right: 52px;
  }
  .header__list {
    margin-right: 137px;
  }
  .header__contacts-icon-telegram, .header__contacts-icon-tel {
    margin-right: 30px;
    text-decoration: none;
  }
  .header__item {
    margin-right: 30px;
  }
  .header__item:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1174px) {
  .header {
    background-color: transparent;
    margin-bottom: 75px;
  }
  .header__group {
    position: relative;
  }
  .header-text {
    position: absolute;
    top: 24px;
    left: 0;
    margin-top: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #E4E5EA;
  }
}
.container {
  width: 290px;
  margin: 0 auto;
}

@media (min-width: 1174px) {
  .container {
    width: 1142px;
  }
}
.promo {
  margin: 0 auto;
  margin-top: -6px;
  padding-top: 45px;
  padding-bottom: 50px;
  color: #E4E5EA;
  background-image: url("../img/mob-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.promo__title {
  margin-bottom: 28px;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 500;
}
.promo__inner-text {
  font-weight: 900;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.promo__text {
  margin-bottom: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.promo__text-present {
  margin-bottom: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.promo__inner-present {
  background: linear-gradient(92deg, #FCB045 24.21%, #FF3F78 100%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.promo__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.promo__item {
  position: relative;
  width: 47%;
  padding-left: 16px;
  margin-bottom: 11px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.promo__item--skype {
  width: 43%;
}
.promo__item--dashboard {
  width: 43%;
}
.promo__item--crm {
  width: 47%;
}
.promo__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 2px;
  background-image: url(../img/mob-line.png);
}
@media (min-width: 1174px) {
  .promo__groups {
    display: flex;
    justify-content: space-between;
  }
  .promo__group-content-text {
    width: 322px;
  }
  .promo__title {
    font-size: 48px;
    line-height: 58px;
  }
  .promo__inner-text {
    font-size: 48px;
    line-height: 58px;
  }
  .promo__group-present-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 14px;
  }
  .promo__item {
    width: 34%;
    text-align: right;
  }
  .promo__item::before {
    display: none;
  }
  .promo__list {
    display: none;
    justify-content: end;
  }
  .promo__list-desktop {
    width: 300px;
    display: flex;
    margin-bottom: 32px;
    list-style: none;
    flex-wrap: wrap;
    font-family: "Inter";
    font-style: normal;
  }
  .promo__item-desktop {
    width: 150px;
    margin-bottom: 26px;
    text-align: right;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }
  .promo__item-desktop-text {
    margin-top: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: lowercase;
  }
  .promo__text-present {
    width: 291px;
    margin-right: 5px;
    margin-bottom: 40px;
    text-align: right;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
  }
  .promo__inner-present {
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }
  .promo__btn {
    width: 262px;
    height: 61px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #E4E5EA;
    background-color: #4077F3;
    border: none;
    cursor: pointer;
  }
  .promo__item-desktop--widget {
    width: 132px;
    margin-right: 14px;
  }
  .promo__item-desktop--skype {
    text-align: left;
    padding-left: 7px;
  }
  .promo__crm {
    text-transform: uppercase;
  }
}

@media (min-width: 1174px) {
  .group-div {
    padding-top: 55px;
    background-image: url("../img/desk-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-position-y: -1px;
  }
  .promo {
    background-image: none;
  }
}
.info {
  margin-top: -6px;
  padding-top: 82px;
  padding-bottom: 5px;
  background-color: #0E1014;
  color: #E4E5EA;
}
.info__title {
  text-transform: uppercase;
  color: #656566;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
.info__list, .info__adress {
  list-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.info__company-text, .info__menu-text, .info__contacts-text {
  margin-bottom: 21px;
}
.info__company-item, .info__menu-item {
  margin-bottom: 10px;
}
.info__menu-item {
  margin-bottom: 10px;
}
.info__company-link, .info__menu-link {
  text-decoration: none;
  color: #E4E5EA;
}
.info__menu-group {
  display: flex;
  margin-bottom: 19px;
}
.info__contacts {
  margin-bottom: 50px;
}
.info__company {
  margin-bottom: 30px;
}
.info__contacts-tel {
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
}
.info__contacts-icons {
  display: flex;
  padding-left: 7px;
  margin-bottom: 10px;
  color: #E4E5EA;
}
.info__contacts-icons a {
  display: block;
  width: 22px;
  height: 22px;
}
.info__contacts-icon-telegram, .info__contacts-icon-tel {
  margin-right: 10px;
}
.info__contacts-icons img {
  width: 20px;
  height: 18px;
}
@media (min-width: 1174px) {
  .info__group {
    display: flex;
  }
  .info__company {
    margin-right: 92px;
  }
  .info__title {
    font-size: 14px;
  }
  .info__menu {
    margin-right: 163px;
  }
  .info__contacts {
    margin-left: auto;
    text-align: right;
  }
  .info__contacts-icons {
    justify-content: end;
  }
  .info__list, .info__adress {
    font-size: 16px;
    line-height: 19px;
  }
  .info__company-text, .info__menu-text, .info__contacts-text {
    margin-bottom: 20px;
  }
  .info__contacts-tel, .info__contacts-icons {
    margin-bottom: 21px;
  }
}

@media (min-width: 1174px) {
  .info {
    background-color: transparent;
    color: #E4E5EA;
  }
}
.elem-hidden {
  display: none;
}

.elem-hidden-desk {
  display: none;
}

.elem-hidden--flex {
  display: none;
}

@media (min-width: 1174px) {
  .elem-hidden {
    display: block;
  }
}
@media (min-width: 1174px) {
  .elem-hidden--flex {
    display: flex;
    align-items: center;
  }
}
.menu-list--left {
  margin-right: 47px;
}

@media (min-width: 1174px) {
  .menu-list--left {
    margin-right: 52px;
  }
  .menu-list--right {
    margin-top: -7px;
  }
}