* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 13px;
  background-color: #0E1014;
}
.header__list {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.header__item {
  margin-right: 12px;
}
.header__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 769px) {
  .header__contacts {
    display: flex;
    align-items: center;
  }
  .header__contacts-tel {
    display: block;
    margin-right: 47px;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E4E5EA;
  }
  .header__group {
    display: flex;
    align-items: center;
  }
  .header__logo-img--smallimg {
    width: 35px;
    height: 24px;
    margin-right: 8px;
  }
  .header__logo-img--bigimg {
    width: 97px;
    height: 15px;
  }
  .header__logo {
    display: flex;
    align-items: center;
    margin-right: 52px;
  }
  .header__list {
    margin-right: 137px;
  }
  .header__contacts-icon-telegram, .header__contacts-icon-tel {
    margin-right: 30px;
  }
  .header__item {
    margin-right: 30px;
  }
  .header__item:last-child {
    margin-right: 0;
  }
}

@media (min-width: 769px) {
  .header {
    background-color: black;
  }
}
.container {
  width: 290px;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .container {
    width: 1142px;
  }
}
.promo {
  margin: 0 auto;
  margin-top: -6px;
  padding-top: 45px;
  padding-bottom: 60px;
  color: #E4E5EA;
  background-image: url("../img/mob-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.promo__title {
  margin-bottom: 25px;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 500;
}
.promo__inner-text {
  font-weight: 900;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.promo__text {
  margin-bottom: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.promo__text-present {
  margin-bottom: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.promo__inner-present {
  background: linear-gradient(92deg, #FCB045 24.21%, #FF3F78 100%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.promo__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.promo__item {
  position: relative;
  width: 50%;
  padding-left: 16px;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.promo__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 2px;
  background-image: url(../img/mob-line.png);
}

.info {
  margin-top: -6px;
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: #0E1014;
  color: #E4E5EA;
}
.info__title {
  text-transform: uppercase;
  color: #656566;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
.info__list, .info__adress {
  list-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.info__company-text, .info__menu-text, .info__contacts-text {
  margin-bottom: 24px;
}
.info__company-item, .info__menu-item {
  margin-bottom: 17px;
}
.info__company-link, .info__menu-link {
  text-decoration: none;
  color: #E4E5EA;
}
.info__menu-group {
  display: flex;
  margin-bottom: 30px;
}
.info__company {
  margin-bottom: 30px;
}
.info__contacts-tel {
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
}
.info__contacts-icons {
  display: flex;
  margin-bottom: 10px;
  color: #E4E5EA;
}
.info__contacts-icons a {
  display: block;
  width: 22px;
  height: 22px;
}
.info__contacts-icon-telegram, .info__contacts-icon-tel {
  margin-right: 10px;
}
.info__contacts-icons img {
  width: 20px;
  height: 18px;
}

.elem-hidden {
  display: none;
}

.elem-hidden--flex {
  display: none;
}

@media (min-width: 769px) {
  .elem-hidden {
    display: block;
  }
}
@media (min-width: 769px) {
  .elem-hidden--flex {
    display: flex;
    align-items: center;
  }
}